
	body{
		font-family: "Open Sans", helvetica, arial;
	}
	section.info-evento {
	position: relative;
    display: block;  
    text-align: center;
    vertical-align: top;
    margin-top: 1em;
    border: 3px solid rgb(250, 250, 250);
	}
	li article {
	}
	header {
		cursor:pointer;
		text-align: center;
	    padding: 0.3em 0.4em;
	}
	footer span {
	    color: #ccc;
	    text-align: center;
	}
	.contenedor ul li {
    list-style: none;
    display: block;
    width: 100%;
    background: #ddd;
    margin: 0;
    padding: 0;
	}
	section.contenedor ul {
	    margin: 0;
	    padding: 0;
	}
	ul li h3 {
	    color: #333;
	    font-size: 1.4em;
	}
	ul li span {
	    color: #444;
	    font-size: 0.9em;
	}
	.logo-brote {
    width: 30%;
    margin: 0;
    padding: 0;
    display: inline-block;
	}
	.logo-brote img {
	    width: 100%;
	}
	.titulo h2 {
	    display: inline-block;
	}
	.titulo {
	    display: inline-block;  width: 60%;
	    color: #ccc;
	    padding-left: 2em;
	    border-left: 2px solid;
	    line-height: 0;
	}
	body {
	    background: white;
	}
	section.contenedor {
	    background: #888;
	    border: 5px solid #aaa;
	    width: 90%;
	    margin: 0 auto;
	}
	header{
		background: #333;
	}
	section.contenedor ul{
	 margin: 0 auto;
	 background #666;
	}
	ul li picture{
		width: 20%;
		display:inline-block;
	}
	ul li h3{
		margin: 0;
		display:inline-block;
	}
	ul li span{
		display:inline-block;
	}
	footer{
		text-align:center;
	}
	@media screen and (max-width: 300px){
		article{
			height:50px;
			position:relative;
		}
		footer span{
			font-size:0.6em!important;
		}
		.info-evento{
			padding:0;
			transition:all 0.3s ease-in-out;
		}
		.info-evento:hover{
			background: #fff;
			box-shadow: inset 0 0 20px rgba(94, 133, 37, 0.55);
		}
		.info-evento h3{
			font-size:0.8em!important;
			margin:0;
		}
		.info-evento span{
			font-size: 0.8em!important;
			margin:0;
			position:relative;
			top:-5px;
		}
	}
	@media screen and (max-width:450px){
		footer span{
			font-size:0.8em;
		}
		.titulo{
			font-size: 10px;
			margin-left: 5%;
			position: relative;
			top: -2px;
			width: initial;
		}
		ul li h3{
			font-size:1em;
		}
		ul li span{
			font-size:0.8em;
		}
		ul li .info-evento{
			margin-top:0;
		}


	}