# Activar RewriteEngine
Options +FollowSymLinks
RewriteEngine on
RewriteBase /

RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_URI} !(\.\w+|/)$ 
RewriteRule (.*) /$1/ [R,L]

#
RewriteCond %{QUERY_STRING} ^pagina=artistas&tag=([a-z]+)$ [NC]
RewriteRule ^ /artistas/%1/? [R=302,NC,L]
#
RewriteCond %{QUERY_STRING} ^pagina=agenda-cultural&tag=([^/]+)$ [NC]
RewriteRule ^ /agenda-cultural/%1/? [R=302,NC,L]
# 
RewriteCond %{QUERY_STRING} ^pagina=artistas [NC]
RewriteRule ^ /artistas/? [R=301,NC,L]
# 
RewriteCond %{QUERY_STRING} ^pagina=inicio [NC]
RewriteRule ^ /inicio/? [R=301,NC,L]
# 
RewriteCond %{QUERY_STRING} ^pagina=mp3 [NC]
RewriteRule ^ /reproductor-mp3/? [R=301,NC,L]
# 
RewriteCond %{QUERY_STRING} ^pagina=agenda-cultural [NC]
RewriteRule ^ /agenda-cultural/? [R=301,NC,L]
# 
RewriteCond %{QUERY_STRING} ^pagina=contacto [NC]
RewriteRule ^ /contacto/? [R=301,NC,L]

RewriteRule ^agenda-cultural/interior/ /index.php?pagina=agenda-cultural&interior=1
RewriteRule ^agenda-cultural/gallegos/ /index.php?pagina=agenda-cultural&interior=0
RewriteRule ^agenda-cultural-([^/]+)/interior/ index.php?pagina=agenda-cultural&page=$1&interior=1
RewriteRule ^agenda-cultural-([^/]+)/gallegos/ index.php?pagina=agenda-cultural&page=$1&interior=0
RewriteRule ^confirmar-registro/([^/]+)/ /index.php?pagina=confirmar-registro&idconfirmacion=$1
RewriteRule ^confirmar-registro/([^/]+) /index.php?pagina=confirmar-registro&idconfirmacion=$1
RewriteRule ^noticia/([^/]+)/ index.php?pagina=noticias&tag=$1
RewriteRule ^programas/([^/]+)/ index.php?pagina=programas&tag=$1
RewriteRule ^artistas/([^/]+)/ index.php?pagina=artistas&tag=$1
RewriteRule ^video/([^/]+)/ index.php?pagina=video&tag=$1
RewriteRule ^letras/([^/]+)/ /contenido/letras.php?&tag=$1
RewriteRule ^letra/([^/]+)/ /contenido/letras.php?&tag=$1
RewriteRule ^video/([^/]+) index.php?pagina=video&tag=$1
RewriteRule ^contacto/([^/]+)/ index.php?pagina=contacto&asunto=$1
RewriteRule ^artistas-([^/]+)/ index.php?pagina=artistas&page=$1
RewriteRule ^artistas-([^/]+) index.php?pagina=artistas&page=$1
RewriteRule ^noticias-([^/]+)/ index.php?pagina=inicio&page=$1
RewriteRule ^noticias-([^/]+) index.php?pagina=inicio&page=$1
RewriteRule ^agenda-cultural-([^/]+)/ index.php?pagina=agenda&page=$1&interior=nada
RewriteRule ^agenda-cultural-([^/]+) index.php?pagina=agenda&page=$1&interior=nada
RewriteRule ^agenda-cultural/([^/]+)/ index.php?pagina=agenda&tag=$1
RewriteRule ^galeria-de-fotos/([^/]+)/ index.php?pagina=galeria-de-fotos&tag=$1
RewriteRule ^galeria-de-fotos/([^/]+) index.php?pagina=galeria-de-fotos&tag=$1

RewriteRule ^artistas/ /index.php?pagina=artistas
RewriteRule ^programas/ /index.php?pagina=programas
RewriteRule ^noticias/ /index.php?pagina=noticias
RewriteRule ^noticia/ index.php?pagina=inicio
RewriteRule ^artistas /index.php?pagina=artistas
RewriteRule ^contacto/ /index.php?pagina=contacto
RewriteRule ^publicidad/ /index.php?pagina=publicidad
RewriteRule ^inicio/ /index.php?pagina=inicio
RewriteRule ^feed/rss/ /rss.php
RewriteRule ^rss/ /rss.php
RewriteRule ^feed/ /rss.php
RewriteRule ^reproductor-mp3/ /index.php?pagina=mp3
RewriteRule ^bandas-historicas/ /index.php?pagina=bandas-historicas
RewriteRule ^bandas-historicas /index.php?pagina=bandas-historicas
RewriteRule ^registro/ /index.php?pagina=registro
RewriteRule ^registro /index.php?pagina=registro
RewriteRule ^confirmar-registro/ /index.php?pagina=confirmar-registro
RewriteRule ^confirmar-registro /index.php?pagina=confirmar-registro
RewriteRule ^ingresar/ /ingresar.php
RewriteRule ^salir/ /salir.php
RewriteRule ^agenda-cultural/ /index.php?pagina=agenda-cultural&interior=nada

RewriteRule ^terminos-condiciones/ /index.php?pagina=tos
RewriteRule ^galeria-de-fotos/ /index.php?pagina=galeria-de-fotos
RewriteRule ^prensa/lu-14/ /lu14.php

AuthName "Desarrollo"
AuthUserFile "/home/brotecol/.htpasswds/nuevo-brote/passwd"
AuthType Basic

require user nuevo
